{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}

<div class="row mx-3 my-3">
    <h1>Hello at h4sski_garden_system</h1>
</div>


<div class="">
    <table class="table table-sm">
        <thead>
        <h4>Zones table</h4>
        </thead>

        <tbody>
        {% for zone in zones %}
        <tr class="row mx-0 w-25">
            <td class="col">
                <a href="{% url 'garden_app:zone_settings' zone.id %}" class="btn btn-sm btn-block btn-outline-secondary">{{ zone.name }}</a>
            </td>

            <td class="col">
                {% if zone.state %}
                <a href="{% url 'garden_app:change_zone_state' zone.id %}" class="btn btn-sm btn-block btn-success">ON</a>
                {% else %}
                <a href="{% url 'garden_app:change_zone_state' zone.id %}" class="btn btn-sm btn-block btn-outline-danger">OFF</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
</div>


<hr/>


{% endblock %}