{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}

<div class="row mx-3 my-3">
    <h1>Hello at h4sski_garden_system</h1>
</div>


<div class="">
    <table class="table table-sm">
        <thead>
        <h4>Zones table</h4>
        </thead>

        <tbody>
        {% for zone_name, zone_state in zones.items %}
        <tr class="row mx-0">
            <td class="col-2">{{ zone_name }}</td>
            <td class="col-1">
                {% if zone_state %}
                <button class="btn btn-sm btn-block btn-success">ON</button>
                {% else %}
                <button class="btn btn-sm btn-block btn-outline-danger">OFF</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
</div>


<hr/>


<div class="">
    <h4>Zones list</h4>

    {% for zone_name, zone_state in zones.items %}
    <div class="row">
        <div class="col">{{ zone_name }}</div>
        <div class="col">{{ zone_state }}</div>
    </div>
    {% endfor %}
</div>

{% endblock %}